<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptaur Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="styles/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="styles/bundle.min.css?rev=e54926af15fddd6feeeba4353092444f">
</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">crypt<span>aur</span></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">About</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a class="active" href="#">Transactions history</a></li>
            <li><a href="#">Settings</a></li>
            <li class="login">name@mail.com</li>
            <li><a href="#">Logout</a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown_flag"><img src="images/flag_usa.png" /><i class="material-icons right">keyboard_arrow_down</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">About</a></li>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Transactions history</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
    <ul id="dropdown_flag" class="dropdown-content">
        <li><a href="#!"><img src="images/flag_usa.png" /></a></li>
        <li><a href="#!"><img src="images/flag_rus.png" /></a></li>
    </ul>
</nav>
<div class="wrapper">
    <div class="content">
        <div class="row">
            <div class="col s12 m6 offset-m3 l6 offset-l3 xl4 offset-xl4">
                <h3>Cryptaur login</h3>
                <div class="row">
                    <form class="login col s12">
                        <input type="text" placeholder="E-MAIL">
                        <input type="password" placeholder="password">
                        <div class="row">
                            <button type="submit" class="waves-effect waves-light btn btn-login" >Login</button>
                            <p>Forgot your account password? <a href="#">Recover</a></p>
                        </div>
                        <h5>Not a member yet?</h5>
                        <div class="row">
                            <a href="#" class="waves-effect waves-light btn btn-login">Register</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 copyright">
                    <p>Copyright &copy; 2017. All right reserved.</p>
                </div>
                <div class="col s12 m6 terms-and-conditions">
                    <p>Terms and Conditions</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="scripts/materialize.min.js"></script>
<script type="text/javascript" src="scripts/script.js"></script>

</body>
</html>