<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Cryptaur Transactions History</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
   <link rel="stylesheet" href="styles/materialize.min.css">
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="styles/bundle.min.css?rev=0fa91078782ecc16ee30fcbab5cfa34b">
</head>
<body>

    <nav>
       <div class="nav-wrapper">
           <a href="#" class="brand-logo">crypt<span>aur</span></a>
           <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
           <ul id="nav-mobile" class="right hide-on-med-and-down">
               <li><a href="#">About</a></li>
               <li><a href="#">Dashboard</a></li>
               <li><a class="active" href="#">Transactions history</a></li>
               <li><a href="#">Settings</a></li>
               <li class="login">name@mail.com</li>
               <li><a href="#">Logout</a></li>
               <li><a class="dropdown-button" href="#!" data-activates="dropdown_flag"><img src="images/flag_usa.png" /><i class="material-icons right">keyboard_arrow_down</i></a></li>
           </ul>
           <ul class="side-nav" id="mobile-demo">
               <li><a href="#">About</a></li>
               <li><a href="#">Dashboard</a></li>
               <li><a href="#">Transactions history</a></li>
               <li><a href="#">Settings</a></li>
               <li><a href="#">Logout</a></li>
           </ul>
       </div>
       <ul id="dropdown_flag" class="dropdown-content">
           <li><a href="#!"><img src="images/flag_usa.png" /></a></li>
           <li><a href="#!"><img src="images/flag_rus.png" /></a></li>
       </ul>
    </nav>
    <div class="wrapper">
       <div class="content">
           <div class="container">
               <div class="head-collapsible">
                   <div class="row">
                       <div class="col s1 collapsible-col center">Type</div>
                       <div class="col s2 collapsible-col">Date</div>
                       <div class="col s4 collapsible-col">Description</div>
                       <div class="col s2 collapsible-col center">Status</div>
                       <div class="col s2 collapsible-col"> Amount</div>
                       <div class="col s1 collapsible-col"></div>
                   </div>
               </div>
               <ul class="collapsible" data-collapsible="accordion">
                   <li>
                       <div class="collapsible-header">
                           <div class="row">
                               <div class="col s1 collapsible-col center">
                                   Send
                               </div>
                               <div class="col s2 collapsible-col">
                                   22 Aug 22:12
                               </div>
                               <div class="col s4 collapsible-col">
                                   Converting 1.00000000 ETH to 52557.71780000 CPT
                               </div>
                               <div class="col s2 collapsible-col center">
                                   Expired
                               </div>
                               <div class="col s2 collapsible-col">
                                   +52557.7178 CPT
                               </div>
                               <div class="col s1 collapsible-col">
                                   <i class="material-icons">keyboard_arrow_right</i>
                               </div>
                           </div>
                       </div>
                       <div class="collapsible-body">
                           <div class="row">
                               <div class="col s1"></div>
                               <div class="col s10">
                                   <p>22 Aug 22:12</p>
                                   <p>Converting 1.00000000 ETH to 52557.71780000 CPT</p>
                                   <p>Expired</p>
                                   <p>+52557.7178 CPT</p>
                                   <p>Order Id:#686</p>
                                   <p>You will receive:</p>
                                   <p>52557.71780000 CPT</p>
                                   <p>This order expired at:</p>
                                   <p>18 Jan 12:38</p>
                                   <p>Send 1.000000 ETH to</p>
                                   <p>0x2b2732Efb676f4660d31F8c7D7e418D4345B17C3</p>
                               </div>
                               <div class="col s1"></div>
                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="collapsible-header">
                           <div class="row">
                               <div class="col s1 collapsible-col center">
                                   Send
                               </div>
                               <div class="col s2 collapsible-col">
                                   22 Aug 22:12
                               </div>
                               <div class="col s4 collapsible-col">
                                   Converting 1.00000000 ETH to 52557.71780000 CPT
                               </div>
                               <div class="col s2 collapsible-col center">
                                   Expired
                               </div>
                               <div class="col s2 collapsible-col">
                                   +52557.7178 CPT
                               </div>
                               <div class="col s1 collapsible-col">
                                   <i class="material-icons">keyboard_arrow_right</i>
                               </div>
                           </div>
                       </div>
                       <div class="collapsible-body">
                           <div class="row">
                               <div class="col s1"></div>
                               <div class="col s10">
                                   <p>22 Aug 22:12</p>
                                   <p>Converting 1.00000000 ETH to 52557.71780000 CPT</p>
                                   <p>Expired</p>
                                   <p>+52557.7178 CPT</p>
                                   <p>Order Id:#686</p>
                                   <p>You will receive:</p>
                                   <p>52557.71780000 CPT</p>
                                   <p>This order expired at:</p>
                                   <p>18 Jan 12:38</p>
                                   <p>Send 1.000000 ETH to</p>
                                   <p>0x2b2732Efb676f4660d31F8c7D7e418D4345B17C3</p>
                               </div>
                               <div class="col s1"></div>
                           </div>
                       </div>
                   </li>
                   <li class="active">
                       <div class="collapsible-header active">
                           <div class="row">
                               <div class="col s1 collapsible-col center">
                                   Send
                               </div>
                               <div class="col s2 collapsible-col">
                                   22 Aug 22:12
                               </div>
                               <div class="col s4 collapsible-col">
                                   Converting 1.00000000 ETH to 52557.71780000 CPT
                               </div>
                               <div class="col s2 collapsible-col center">
                                   Expired
                               </div>
                               <div class="col s2 collapsible-col">
                                   +52557.7178 CPT
                               </div>
                               <div class="col s1 collapsible-col">
                                   <i class="material-icons">keyboard_arrow_right</i>
                               </div>
                           </div>
                       </div>
                       <div class="collapsible-body">
                           <div class="row">
                               <div class="col s1"></div>
                               <div class="col s10">
                                   <p>22 Aug 22:12</p>
                                   <p>Converting 1.00000000 ETH to 52557.71780000 CPT</p>
                                   <p>Expired</p>
                                   <p>+52557.7178 CPT</p>
                                   <p>Order Id:#686</p>
                                   <p>You will receive:</p>
                                   <p>52557.71780000 CPT</p>
                                   <p>This order expired at:</p>
                                   <p>18 Jan 12:38</p>
                                   <p>Send 1.000000 ETH to</p>
                                   <p>0x2b2732Efb676f4660d31F8c7D7e418D4345B17C3</p>
                               </div>
                               <div class="col s1"></div>
                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="collapsible-header">
                           <div class="row">
                               <div class="col s1 collapsible-col center">
                                   Send
                               </div>
                               <div class="col s2 collapsible-col">
                                   22 Aug 22:12
                               </div>
                               <div class="col s4 collapsible-col">
                                   Converting 1.00000000 ETH to 52557.71780000 CPT
                               </div>
                               <div class="col s2 collapsible-col center">
                                   Expired
                               </div>
                               <div class="col s2 collapsible-col">
                                   +52557.7178 CPT
                               </div>
                               <div class="col s1 collapsible-col">
                                   <i class="material-icons">keyboard_arrow_right</i>
                               </div>
                           </div>
                       </div>
                       <div class="collapsible-body">
                           <div class="row">
                               <div class="col s1"></div>
                               <div class="col s10">
                                   <p>22 Aug 22:12</p>
                                   <p>Converting 1.00000000 ETH to 52557.71780000 CPT</p>
                                   <p>Expired</p>
                                   <p>+52557.7178 CPT</p>
                                   <p>Order Id:#686</p>
                                   <p>You will receive:</p>
                                   <p>52557.71780000 CPT</p>
                                   <p>This order expired at:</p>
                                   <p>18 Jan 12:38</p>
                                   <p>Send 1.000000 ETH to</p>
                                   <p>0x2b2732Efb676f4660d31F8c7D7e418D4345B17C3</p>
                               </div>
                               <div class="col s1"></div>
                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="collapsible-header">
                           <div class="row">
                               <div class="col s1 collapsible-col center">
                                   Send
                               </div>
                               <div class="col s2 collapsible-col">
                                   22 Aug 22:12
                               </div>
                               <div class="col s4 collapsible-col">
                                   Converting 1.00000000 ETH to 52557.71780000 CPT
                               </div>
                               <div class="col s2 collapsible-col center">
                                   Expired
                               </div>
                               <div class="col s2 collapsible-col">
                                   +52557.7178 CPT
                               </div>
                               <div class="col s1 collapsible-col">
                                   <i class="material-icons">keyboard_arrow_right</i>
                               </div>
                           </div>
                       </div>
                       <div class="collapsible-body">
                           <div class="row">
                               <div class="col s1"></div>
                               <div class="col s10">
                                   <p>22 Aug 22:12</p>
                                   <p>Converting 1.00000000 ETH to 52557.71780000 CPT</p>
                                   <p>Expired</p>
                                   <p>+52557.7178 CPT</p>
                                   <p>Order Id:#686</p>
                                   <p>You will receive:</p>
                                   <p>52557.71780000 CPT</p>
                                   <p>This order expired at:</p>
                                   <p>18 Jan 12:38</p>
                                   <p>Send 1.000000 ETH to</p>
                                   <p>0x2b2732Efb676f4660d31F8c7D7e418D4345B17C3</p>
                               </div>
                               <div class="col s1"></div>
                           </div>
                       </div>
                   </li>
                   <li>
                       <div class="collapsible-header">
                           <div class="row">
                               <div class="col s1 collapsible-col center">
                                   Send
                               </div>
                               <div class="col s2 collapsible-col">
                                   22 Aug 22:12
                               </div>
                               <div class="col s4 collapsible-col">
                                   Converting 1.00000000 ETH to 52557.71780000 CPT
                               </div>
                               <div class="col s2 collapsible-col center">
                                   Expired
                               </div>
                               <div class="col s2 collapsible-col">
                                   +52557.7178 CPT
                               </div>
                               <div class="col s1 collapsible-col">
                                   <i class="material-icons">keyboard_arrow_right</i>
                               </div>
                           </div>
                       </div>
                       <div class="collapsible-body">
                           <div class="row">
                               <div class="col s1"></div>
                               <div class="col s10">
                                   <p>22 Aug 22:12</p>
                                   <p>Converting 1.00000000 ETH to 52557.71780000 CPT</p>
                                   <p>Expired</p>
                                   <p>+52557.7178 CPT</p>
                                   <p>Order Id:#686</p>
                                   <p>You will receive:</p>
                                   <p>52557.71780000 CPT</p>
                                   <p>This order expired at:</p>
                                   <p>18 Jan 12:38</p>
                                   <p>Send 1.000000 ETH to</p>
                                   <p>0x2b2732Efb676f4660d31F8c7D7e418D4345B17C3</p>
                               </div>
                               <div class="col s1"></div>
                           </div>
                       </div>
                   </li>
               </ul>
           </div>
       </div>
       <footer>
           <div class="container">
               <div class="row">
                   <div class="col s12 m6 copyright">
                       <p>Copyright &copy; 2017. All right reserved.</p>
                   </div>
                   <div class="col s12 m6 terms-and-conditions">
                       <p>Terms and Conditions</p>
                   </div>
               </div>
           </div>
       </footer>
    </div>

    <script type="text/javascript" src="scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="scripts/materialize.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>

</body>
</html>